.carousel {
    background-color: white;
    padding: 10px;
}

.content-left {
    border-right: 1px solid lightgray;
}

.carousel > div .carousel-container{
    height: 1200px;
}

.content-right {
    color: black
}